<h2>Submit a new complaint</h2>
<hr />
<p
  style="font-weight: 500; color: red"
  *ngIf="
    name.invalid ||
    cont.invalid ||
    ocFrom.invalid ||
    ocDpt.invalid ||
    ocStf.invalid ||
    qtrType.invalid ||
    qtrBlock.invalid ||
    qtrUnit.invalid ||
    newAlot.invalid ||
    details.invalid
  "
>
  Please enter the details marked with *
</p>
<form (ngSubmit)="submitForm()">
  <mat-label>Your details</mat-label> <br /><br />
  <mat-form-field appearance="outline" style="width: 300px">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Complainee name"
      type="text"
      [(ngModel)]="selectedComplaint.complaineeName"
      name="name"
      required
      #name="ngModel"
    /> </mat-form-field
  ><br />
  <mat-form-field appearance="outline" style="width: 300px">
    <mat-label>E-mail</mat-label>
    <input
      matInput
      placeholder="Email address"
      type="email"
      [(ngModel)]="selectedComplaint.email"
      name="email"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Contact number</mat-label>
    <input
      matInput
      placeholder="Contact number"
      type="number"
      [(ngModel)]="selectedComplaint.contactNumber"
      name="contactNumber"
      required
      #cont="ngModel"
    />
  </mat-form-field>
  <br />
  <hr />
  <mat-label>Occupation details</mat-label> <br />
  <br />
  <mat-form-field appearance="outline">
    <mat-label>You are from:</mat-label>
    <mat-select
      [(ngModel)]="selectedComplaint.fromSail"
      name="fromSail"
      required
      #ocFrom="ngModel"
    >
      <mat-option value="SAIL">SAIL</mat-option>
      <mat-option value="CISF">CISF</mat-option>
      <mat-option value="KVS">KVS</mat-option>
      <mat-option value="Post / Bank / BSNL">Post / Bank / BSNL</mat-option>
      <mat-option value="Other...">Other...</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Department</mat-label>
    <input
      matInput
      placeholder="Department"
      type="text"
      [(ngModel)]="selectedComplaint.department"
      name="department"
      required
      #ocDpt="ngModel"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Staff number</mat-label>
    <input
      matInput
      placeholder="Staff number"
      type="text"
      [(ngModel)]="selectedComplaint.staffNumber"
      name="staffNumber"
      required
      #ocStf="ngModel"
    />
  </mat-form-field>
  <br />
  <hr />
  <mat-label>Quarter details</mat-label> <br />
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Quarter type</mat-label>
    <mat-select
      [(ngModel)]="selectedComplaint.quarterType"
      name="quarterType"
      required
      #qtrType="ngModel"
    >
      <mat-option value="A">A</mat-option>
      <mat-option value="B">B</mat-option>
      <mat-option value="C">C</mat-option>
      <mat-option value="D">D</mat-option>
      <mat-option value="GH 2">GH 2</mat-option>
      <mat-option value="Other...">Other...</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Block number</mat-label>
    <input
      matInput
      placeholder="Block number"
      type="number"
      [(ngModel)]="selectedComplaint.blockNumber"
      name="blockNumber"
      required
      #qtrBlock="ngModel"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Unit number</mat-label>
    <input
      matInput
      placeholder="Unit number"
      type="number"
      [(ngModel)]="selectedComplaint.unitNumber"
      name="unitNumber"
      required
      #qtrUnit="ngModel"
    />
  </mat-form-field>
  <br />
  <hr />
  <mat-label>Work details</mat-label> <br />
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Is this a new allotment?</mat-label>
    <mat-select
      [(ngModel)]="selectedComplaint.newAllotment"
      name="newAllotment"
      required
      #newAlot="ngModel"
    >
      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nature of work</mat-label>
    <mat-select [(ngModel)]="selectedComplaint.workNature" name="workNature">
      <mat-option value="Cement">Cement</mat-option>
      <mat-option value="Wood">Wood</mat-option>
      <mat-option value="Painting">Painting</mat-option>
      <mat-option value="Roof">Roof</mat-option>
      <mat-option value="Water supply">Water supply</mat-option>
      <mat-option value="Sanitary">Sanitary</mat-option>
      <mat-option value="Miscellaneous">Miscellaneous</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline" style="width: 400px">
    <mat-label>Complaint details</mat-label>
    <textarea
      matInput
      placeholder="Complaint details"
      type="text"
      [(ngModel)]="selectedComplaint.complaintDetails"
      name="complaintDetails"
      required
      #details="ngModel"
    ></textarea>
  </mat-form-field>
  <br />
  <button
    mat-raised-button
    [disabled]="
      name.invalid ||
      cont.invalid ||
      ocFrom.invalid ||
      ocDpt.invalid ||
      ocStf.invalid ||
      qtrType.invalid ||
      qtrBlock.invalid ||
      qtrUnit.invalid ||
      newAlot.invalid ||
      details.invalid
    "
  >
    Submit
  </button>
</form>
