<app-menu></app-menu>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
<footer>
  <a
    mat-button
    color="primary"
    target="_blank"
    href="https://www.sail.co.in/en/home"
    >SAIL official site
    <mat-icon
      aria-hidden="false"
      aria-label="visit sail official site"
      style="font-size: 100%"
      >open_in_new</mat-icon
    >
  </a>
  <a
    mat-button
    color="primary"
    mat-button
    target="_blank"
    href="https://sailcareers.com"
    >SAIL careers
    <mat-icon
      aria-hidden="false"
      aria-label="visit sail career site"
      style="font-size: 100%"
      >open_in_new</mat-icon
    ></a
  >
</footer>
